/*-----------------------------------------------------
FARVER - hentes med: var(--navn)
-----------------------------------------------------*/
:root {
    --lysbeige: #FBF9F7;
    --morkbeige: rgb(233, 227, 222);
    --brun: #916F54;
    --orange: #D3711A;
    --bla: #BAD2DB;
    --hvid: #ffffff;
    --sort: #333333;
}

/*=============================================================================================
=========================================   MOBIL   ===========================================
=============================================================================================*/

.artikel_side {
    margin-left: 5%;
    margin-right: 5%;
    position: relative;
}

.artikel_header {
    font-size: 1.2rem;
}

.artikel_txt {
    font-size: 1rem;
    margin-block-start: 0;
}

.art_del_header {
    margin-block-end: 0;
    padding-top: 10px;
}

.kursiv {
    font-style: italic;
}


/*-------------------------------------------------------------------------
FIND FORHANDLER
-------------------------------------------------------------------------*/
.forhandler_logoer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 2%;
    padding-right: 2%;
}

.forhandler_logo {
    height: 3rem;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;

}


/*-------------------------------------------------------------------------
VORES HISTORIE
-------------------------------------------------------------------------*/
.historie_ikoner {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.historie_ikon_img {
    padding: 10px 5%;
    width: 70px;
    height: 70px;
}


/*-------------------------------------------------------------------------
KONTAKT OS & KONKURRENCE
-------------------------------------------------------------------------*/
.kontakt_txt {
    margin-bottom: 2rem;
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid var(--morkbeige);
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=email],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid var(--morkbeige);
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: var(--orange);
    color: var(--hvid);
    padding: 12px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 6rem;
    margin-top: 15px;
    font-size: 1rem;
}

input[type=submit]:hover {
    opacity: 80%;
}

.required {
    color: var(--orange);
}

#subject {
    height: 7rem;
}

.kon_bet_link {
    color: var(--orange);
}

.kon_bet_section {
    background-color: var(--bla);
    border: solid 1px var(--sort);
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 3rem;
}



/*-------------------------------------------------------------------------
UDVALG
-------------------------------------------------------------------------*/
.udvalg_stor_txt {
    display: none;
}

.udvalg_section {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.udvalg_element {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 5px;
    margin-bottom: 15px;
    border: solid 1px var(--sort);
    background-color: var(--morkbeige);
}

.udvalg_element:hover {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
}

.udvalg_link {
    text-decoration: none;
    color: var(--sort);
}

.udvalg_header {
    font-size: 1rem;
    padding: 6px;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

.udvalg_img {
    max-width: 100%;
}


/*-------------------------------------------------------------------------
OVERKATEGORIERNE I MENUEN
-------------------------------------------------------------------------*/
.over_kat_section {
    display: grid;
    grid-template-columns: 1fr;
}

.over_kat_element {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 5px;
    margin-bottom: 15px;
    border: solid 1px var(--sort);
    background-color: var(--morkbeige);
}

.over_kat_element:hover {
    padding: 5px;
}

.over_kat_img {
    max-width: 100%;
}

.over_kat_link {
    text-decoration: none;
    color: var(--sort);
}

.over_kat_header {
    font-size: 1.3rem;
}






/*=============================================================================================
=========================================   TABLET   ==========================================
=============================================================================================*/

@media screen and (min-width: 760px) {


    .artikel_side {
        margin-left: 7%;
        margin-right: 7%;
    }

    .artikel_header {
        font-size: 1.4rem;
    }

    .artikel_txt {
        font-size: 1rem;
    }


    /*-------------------------------------------------------------------------
UDVALG
-------------------------------------------------------------------------*/
    .udvalg_stor_txt {
        display: block;
    }

    .udvalg_section {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .udvalg_element {
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 30px;
    }


    /*-------------------------------------------------------------------------
OVERKATEGORIERNE I MENUEN
-------------------------------------------------------------------------*/
    .over_kat_section {

        grid-template-columns: 1fr 1fr;
    }

}





/*=============================================================================================
========================================   COMPUTER   =========================================
=============================================================================================*/

@media screen and (min-width: 1200px) {

    .artikel_side {
        margin-left: 10%;
        margin-right: 10%;
    }

    .artikel_header {
        font-size: 1.5rem;
    }

    .artikel_txt {
        font-size: 1rem;
    }


    /*-------------------------------------------------------------------------
UDVALG
-------------------------------------------------------------------------*/
    .udvalg_section {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }



}